body{
    margin: 0;
}


h1{
    margin-top: 0px;
    background-color: #281b2d;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    padding: 25px 0px;
}

.subheader{
font-size: 48px;
background-color: #281b2d;
border-bottom: #00C54C 5px solid;
color: #FCD801;
padding: 20px;
}