body{
    margin: 0;
}


h1{
    margin-top: 0px;
    background-color: #281b2d;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    padding: 25px 0px;
}

p{
    font-size: 18px;
}

.subheader{
font-size: 48px;
background-color: #281b2d;
border-bottom: #00C54C 5px solid;
color: #FCD801;
padding: 20px;
}


.color_text{
    color: #FFF;
}

.container{
   max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


.columns{
    display: flex;
}

img{
    width: 350px;
}

section{
    margin-right: 40px;
}


.sections_words{
margin-left: 20px;

}

.main-content{
    width: 75%;
}
aside{
    width: 30%;
    margin-top: 40px;
    background-color: #9AE84F;
    padding: 20px;
   
    
}

aside h2{
    margin-top: 0px;
}

a{
    color: red;
}

a:hover{
color: blue;
}

